nav{
    background-color:rgb(118, 193, 246);
  }
  
  .jost{
  font-size: 21px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight:100px;
  font-style: normal;
  }
  .logohead{
  width: 23vh;
  height: 18vh;
  }