/* 
body {
    background: linear-gradient(
        rgba(255, 255, 255, 0.864),
        rgba(242, 242, 242, 0.56)
      ),
      url("https://img.freepik.com/vector-gratis/fondo-escuela-ingles-diseno-plano_23-2149487419.jpg")
        no-repeat center center fixed;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
  
  } */


.cardCarrito{
    min-height: 150px;
}

.imgCarrito{
    max-width: 100px;
    height: 100px;
    object-fit: cover;
}

@media all and (min-width:768px){
    .imgCarrito{
        max-width: 200px;
        height: 125px;
    }
    
}