

.cardCarrito{
    min-height: 150px;
}

.imgCarrito{
    max-width: 100px;
    height: 110px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 5px;
}

@media all and (min-width:768px){
    .imgCarrito{
        max-width: 200px;
        height: 125px;
    }
    
}